<div>
  <span [matBadge]="inbox" matBadgeOverlap="false" [matBadgeHidden]="inbox===0">Inbox</span>
</div>
<div>
  <span matBadge="5" matBadgePosition="below before">Inbox</span>
</div>
<div>
  <span matBadge="2" matBadgePosition="below after">Inbox</span>
</div>
<div>
  <span matBadge="6" matBadgePosition="above before">Inbox</span>
</div>

<div>
  <span matBadge="5" matBadgeSize="small">Inbox</span>
</div>
<div>
  <span matBadge="2" matBadgeSize="medium">Inbox</span>
</div>
<div>
  <span matBadge="6" matBadgeSize="large">Inbox</span>
</div>

<div>
  <span matBadge="5" matBadgeColor="primary">Inbox</span>
</div>
<div>
  <span matBadge="2" matBadgeColor="accent">Inbox</span>
</div>
<div>
  <span matBadge="6" matBadgeColor="warn" matBadgeOverlap="false">Inbox</span>
</div>
