<mat-horizontal-stepper>
    <mat-step label="Shipping Address">
        <p>Shipping Address details</p>
    </mat-step>
    <mat-step label="Billing Address">
        <p>Billing Address details</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step label="Place Order">
        <p>Place Order details</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step label="Contact Information">
        <p>Contact Information detail</p>
    </mat-step>
</mat-horizontal-stepper>

<br>

<mat-horizontal-stepper linear>
    <mat-step label="Shipping Address" completed=true>
        <p>Shipping Address details</p>
    </mat-step>
    <mat-step label="Billing Address" completed=false optional>
        <p>Billing Address details</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step label="Place Order" completed=false>
        <p>Place Order details</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step label="Contact Information" completed=false>
        <p>Contact Information detail</p>
    </mat-step>
</mat-horizontal-stepper>

<br>

<mat-vertical-stepper linear>
    <mat-step label="Shipping Address" completed=true>
        <p>Shipping Address details</p>
    </mat-step>
    <mat-step label="Billing Address" completed=false optional>
        <p>Billing Address details</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step label="Place Order" completed=false>
        <p>Place Order details</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step label="Contact Information" completed=false>
        <p>Contact Information detail</p>
    </mat-step>
</mat-vertical-stepper>
