<div>
  <button mat-button>Soumettre</button>
  <button mat-raised-button>Valider</button>
  <button mat-flat-button>Annuler</button>
  <button mat-stroked-button>Reinitialiser</button>
</div>


<div>
  <button mat-icon-button>icon</button>
  <button mat-fab>fab</button>
  <button mat-mini-fab>mini-fab</button>
</div>

<div>
  <button color="primary" mat-button>Primary</button>
  <button color="accent" mat-button>Accent</button>
  <button color="warn" disableRipple mat-button>Warn</button>
  <button color="primary" mat-raised-button>Primary</button>
  <button color="accent" mat-raised-button>Accent</button>
  <button color="warn" mat-raised-button>Warn</button>
</div>

