<mat-sidenav-container>
  <!-- <mat-sidenav #sidenav mode="side" [(opened)]="opened">Sidenav</mat-sidenav> -->
  <mat-sidenav #sidenav mode="side" (opened)="log('opened')" (closed)="log('closed')" >Sidenav</mat-sidenav>
  <mat-sidenav-content>Main
    <button (click)="opened=!opened">Toggle Opened</button>
    <button (click)="sidenav.open()">Open</button>
    <button (click)="sidenav.close()">Close</button>
    <button (click)="sidenav.toggle()">Toggle</button>
  </mat-sidenav-content>
</mat-sidenav-container>
